.box-select-multi {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    gap: 5px;
}
.item-tax {
    background-color: #e9ecef;
    margin-bottom: 2px;
    border-radius: 3px;
    padding: 5px;
}